/* id # and class . */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* STYLES SAISTĪBĀ AR VISU LAPU VAI ATSEVIŠĶIEM TAGIEM: */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li, a, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-decoration: none;
    border: none;
    /* background-color: white; */
}
button {
    background-color: white;
}

/* ERROR */

.invalid-feedback {
    color: rgba(255, 0, 0, 0.7);
}
/* HEADER */
#header-project-name{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    color: black;
    background-color: rgba(110, 218, 109, 1);
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: 1px solid red; */
    /* height: 140px; */
    

}
/* NAVIGATION BAR  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px, 10px;
    background-color: white;
    

}
.nav-links {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    

}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    /* background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 0px 30px 30px; */
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: rgba(110, 218, 109, 1);
    /* font-size: 110%; */
}

.nav-links li a:active {
    color: blue;
}


.navbar-button {
    margin-right: 20px;
    transition: all 0.3s ease 0s;
}
.navbar-button:hover {
    color: rgba(110, 218, 109, 1);
    /* font-size: 110%; */
}
.navbar-button:active {
    color: blue;
}


/* #navbar button {
    float: right;
    padding-right: 20px;
} */

.deadspace {
    /* border:5px solid red; */
    height:1000px;
    width:100px;
    background-color: rgb(70, 70, 70);
}
#left-deadspace {
    float:left;
}
#right-deadspace {
    float:right;
}


/* BODY */
body {
    background-color:  rgba(234, 234, 234, 1);
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}


/* CONTNENT */

/* MAINPAGE */
#parent-preview-pasakums {
    display: flex;
}

#pasakums-preview {
    border: 5px solid rgba(234, 234, 234, 1);
    float: left;
    width: 40%;
    height: max-content;
}
#tituls-pasakums {
    background-color: rgba(110, 218, 109, 1);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}
#saturs-par-pasakumu {
    background-color:white;
    margin-top: 10px;
    border-radius: 20px 20px 20px 20px;
    
    padding: 10px 10px  10px  10px ;
    
}
#saturs-par-pasakumu #atteli-button {
    background-color: skyblue;
    padding: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    /* float: right; */
}

#komentari {
    border:5px solid rgba(234, 234, 234, 1);
    float: left;
    width: 60%;
    height: max-content;
}
#tituls-komentari {
    background-color: skyblue;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}
.preview-komentari {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    list-style: none;
}
#saturs-par-komentariem {
    margin-top: 10px;
}
.mainpage-content {
    display: inline-block;
    

}

/* FILTER LAPAI */
#filter-content-group{
    display: flex;

}
#filter-pasakumu {
    /* border: 10px solid white; */
    
    float: left;
    width: 20%;
    height: max-content;
}
#show-filter-list {
    /* border: 10px solid white; */
    
    float: left;
    width: 80%;
    height: max-content;
    
}
.filter-content-child {
    display: inline-block;
}



/* NEW_PASAKUMA LAPAI */
#parent-new-pasakums {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */
    /* background-color: white; */
    /* max-width: 200px; */
}

#izveidot-jaunu-pasakumus{
    
    background-color: white;
    border-radius:10px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* #form label {
    display: flex;
    justify-content: center;
    align-items: center;
}
#form input {
    display: flex;
    justify-content: center;
    align-items: center;
} */
#publicet-jaunu-pasakumu-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#publicet-pasakumu-div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#publicet-pasakumu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 148, 147);
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    transition: all 0.3s ease 0s;
    margin-top: 10px;
    margin-bottom: 10px;

}




#publicet-pasakumu:hover {
    background-color:  rgba(110, 218, 109, 1);
}
#publicet-pasakumu:active {
    background-color: rgba(0, 0, 0, 0.6);
}



/* SHOW_PASAKUMU */
#content-show-pasakuma-group {
    display: flex;
}
#show_pasakums {
    float: left;
    width: 40%;
    height: max-content;
    background-color: white;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    padding: 4px 4px 4px 4px;
    /* border: 1px solid red; */
} 

#attels-preview-show-pasakums-galerija {
    float: left;
    width: 60%;
    height: max-content;
    background-color: white;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    padding: 4px 4px 4px 4px;
}
.show-content-child {
    display: inline-block;
}

#show_pasakums_komentari {
    /* float: left; */
    /* width: 60%; */
    
    height: max-content;
    background-color: white;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    padding: 4px 4px 4px 4px;
}



#show_pasakums_komentari ul li{
    list-style: none;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 2px 2px 2px 2px;
    /* border-radius: 20px;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;      */
}





#title-show-pasakums {
    background-color: rgba(110, 218, 109, 1);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

#title-show-pasakums-komentari {
    background-color: skyblue;
    border-radius: 10px 10px 10px 10px;
    text-align: center;

}

#attels-preview-show-pasakuma-galerija-title {

    background-color: rgba(239, 247, 0, 0.8);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}
#show_pasakums ul li {
    list-style: none;
}
.show-pasakuma-info {
    margin: 2px 2px 2px 2px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 2px 2px 2px 2px;
}


#show-user-name-pasakums-publicetajs p {
    color: rgba(0, 0, 0, 0.5);
}

#pieteikties {
    display: flex;
    justify-content: center;
    align-items: center;
}
#button-pieteikties {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 148, 147);
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    transition: all 0.3s ease 0s;
}

#button-pieteikties:hover {
    background-color:  rgba(110, 218, 109, 1);
}
#button-pieteikties:active {
    background-color: rgba(0, 0, 0, 0.6);
}
#pievienot {
    display: flex;
    justify-content: center;
    align-items: center;
}

#attels-preview-show-pasakuma-galerija-pievienot-attelu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 148, 147);
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    transition: all 0.3s ease 0s;
}

#attels-preview-show-pasakuma-galerija-pievienot-attelu:hover {
    background-color:  rgba(110, 218, 109, 1);
}

#attels-preview-show-pasakuma-galerija-pievienot-attelu:active {
    background-color: rgba(0, 0, 0, 0.6);
}



.show-user-name-koments-info p {
    color: rgba(0, 0, 0, 0.5);
}
/* FOOTER */

#footer {
    position: sticky;
    font-family: 'Roboto', sans-serif;  
    background-color: grey;
    position: sticky;
    top:100%;
    padding: 10px 10px 10px 10px;
    text-align: center; 
}










































